<header> Welcome to my TinyAPP </header>


  <body style="font-size:20px; padding:50px;">

  <% if (!username) { %>
     <form method="POST" action="/login" style="width:50px;">
      <input id="username" type="text" name="username" placeholder="Your username">
      <input type="submit" value="Login">
    </form>
  <% } %>

  <% if (username) { %>
    <p>Hello (username)!</p>
    <form method="POST" action="/logout" style="width:50px;">
      <input id="username" type="text" name="usernameLoggedIn">
      <input type="submit" value="Logout">
    </form>
  }

  </body>