<% if (!email) { %>
<a href="/login">Login here!</a>
<a href="/register">Register!</a>
<% } else { %>
<p>Hello <%= email %> !</p>
<form method="POST" action="/logout" style="width:50px;">
  <input id="username" type="submit" name="usernameLoggedIn" input type="submit" value="Logout">
</form>
<% } %>

