<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% include ../views/partials/_header %>
    <title>Unauthorized</title>
  </head>
  <body style="font-size:10px; padding:40px; background-color: #33ccff">
    <div>
      <h1>Bad request - Oops! Please double check your email and password.</h1>
    </div>
    <img style="margin-left: auto; margin-right: auto; display: block; " class="displayed" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Human-dialog-error.svg/200px-Human-dialog-error.svg.png">
    </body>
</html>