<!DOCTYPE html>
<html>
<head>
  <title>itty bitty tinyApp...y</title>
</head>
<body style="font-size:10px; padding:20px; background-color: #33ccff">
  <header><% include ../views/partials/_header %></header>
  <h3>Welcome to our login &amp; homepage!</h3>
  <form action="/login" method="POST" style="margin:100px;">
    <label for="loginEmail">Email:</label>
    <input id="loginEmail" type="email" name="loginEmail" placeholder="user@gmail.com" style="width: 170px">
    <label for="loginPassword">Password:</label>
    <input id="emailAddress" type="password" name="password" placeholder="xxxxxx" style="width: 120px">
    <input type="submit" value="Submit">
    <br>
    <br>
  </form>
</body>
</body>
</html>