<form action="/register" method="POST" style="margin:100px;">
  <label for="registrationEmail">Email Address:</label>
  <input id="emailAddress" type="email" name="email" placeholder="your email" style="width: 170px">

  <label for="registrationPassword">Password:</label>
  <input id="emailAddress" type="password" name="password" placeholderyour email" style="width: 120px">
  <input type="submit" value="Submit">
</form>